/* SpringReact/src/css/ConfirmModal.css */

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .modalButtons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
.cancelBtn, .confirmBtn {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .cancelBtn {
    background-color: #e0e0e0;
    color: black;
  }
  
  .confirmBtn {
    background-color: #007bff;
    color: white;
  } 
  